[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
docker = "*"
codecov = "*"

[packages]
ansible = "==2.9.20"
cryptography = "==3.3.2"
molecule = "== 2.22rc1"
flake8 =  ">= 3.6.0"

[requires]
python_version = "3.7"
