[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
docker = "*"
codecov = "*"
yamllint = "*"
flake8 = "*"
testinfra = "*"

[packages]
ansible = "==4.2.0"
cryptography = "==3.3.2"
molecule = "*"
molecule-docker = "*"

[requires]
python_version = "3.7"
