---

- name: Install rails dependencies
  yum:
    name: "{{ item }}"
    state: present
  with_items:
    - git-core
    - zlib
    - zlib-devel
    - gcc-c++
    - patch
    - readline
    - readline-devel
    - libyaml-devel
    - libffi-devel
    - openssl-devel
    - make
    - bzip2
    - autoconf
    - automake
    - libtool
    - bison
    - curl
    - sqlite-devel
    - epel-release
  become: true

- name: install nodejs for asset pipeline for rails
  yum:
    name: nodejs-{{ nodejs_version }}
    state: present
  become: true

- name: Install yarn node package if this project needs it
  npm:
    name: yarn
    global: true
    state: present
    version: "{{ yarn_version }}"
  when: rails_app_use_webpack is defined and rails_app_use_webpack

- name: Install app specifc dependencies
  yum:
    name: "{{ item }}"
    state: present
  with_items: "{{ rails_app_additional_dependencies | default([]) }}"
  become: true
