#Disable Indexes unless globally
Options -Indexes
ExtendedStatus On

# Disable Trace
TraceEnable off

# Disable back-end info in headers.
ServerSignature Off
ServerTokens Prod

Header always set X-Frame-Options SAMEORIGIN
Header always set X-Content-Type-Options nosniff

<VirtualHost *:80>
    ServerName {{ rails_app_fqdn | default(ansible_fqdn) }}

    {% if rails_app_force_ssl %}
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]
    {% endif %}

#  Copied over from cob role, in case needed instead of above
#    {% if rails_app_force_ssl %}
#      RedirectMatch permanent (.*) https://{{ rails_app_fqdn | default(ansible_fqdn) }}/$1
#    {% endif %}

    # Tell Apache and Passenger where your app's 'public' directory is
    DocumentRoot /var/www/html
    PassengerRuby /usr/bin/ruby

    {% if rails_app_set_root_redirect %}
    RedirectMatch ^/$ {{ rails_app_root_redirect }}
    {% endif %}

    #include app specific configs in the applications directory
    Include conf.d/applications/*.conf-fragment

    {% if rails_app_httpd_status_enable %}
      <IfModule mod_status.c>
        <Location /server-status>
          SetHandler server-status
          Order deny,allow
          Deny from all
          Allow from localhost
        </Location>
      </IfModule>
    {% endif %}

</VirtualHost>

AddOutputFilterByType DEFLATE text/plain text/html text/xml text/css application/xml application/xhtml+xml application/rss+xml application/javascript application/x-javascript
