# Select the MPM module which should be used by uncommenting exactly
# one of the following LoadModule lines:

# prefork MPM: Implements a non-threaded, pre-forking web server
# See: http://httpd.apache.org/docs/2.4/mod/prefork.html
{% if rails_app_mpm_module == "prefork" %}
LoadModule mpm_prefork_module modules/mod_mpm_prefork.so
{% else %}
#LoadModule mpm_prefork_module modules/mod_mpm_prefork.so
{% endif %}

# worker MPM: Multi-Processing Module implementing a hybrid
# multi-threaded multi-process web server
# See: http://httpd.apache.org/docs/2.4/mod/worker.html
{% if rails_app_mpm_module == "worker" %}
LoadModule mpm_worker_module modules/mod_mpm_worker.so
{% else %}
#LoadModule mpm_worker_module modules/mod_mpm_worker.so
{% endif %}

# event MPM: A variant of the worker MPM with the goal of consuming
# threads only for connections with active processing
# See: http://httpd.apache.org/docs/2.4/mod/event.html

{% if rails_app_mpm_module == "event" %}
LoadModule mpm_event_module modules/mod_mpm_event.so
{% else %}
#LoadModule mpm_event_module modules/mod_mpm_event.so
{% endif %}
